<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="header-items">
      <button mat-stroke-button (click)="snav.toggle()" class="menu-btn">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Mock builds</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- side nav  -->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="side-nav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list *ngFor="let list of navList">
        <button mat-stroked-button (click)="route(list.routePath)" >{{list.listName}}</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- end of the side nav  -->
</div>
